<ion-view view-title="Dashboard">
  <ion-header-bar align-title="left" class="bar-subheader">
    <div class="buttons">
      <button class="button" ng-click="openModal()">Open Modal</button>
    </div>
    <h1 class="title">Title!</h1>
    <div class="buttons">
      <button class="button">Reboot all</button>
    </div>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="list card">
      <ion-list>
        <ion-item class="item-label" type="item-text-wrap" >
          <span class="state ">Status</span>
          <span class="iconmelon">
            Cassette
          </span>
          <span class="iconmelon">
            Photo
          </span>
          <span class="host-name">Host Name</span>
          <span class="host-address">Host Address</span>
        </ion-item>
        <ion-item class="item-avatar" ng-repeat="host in hosts" type="item-text-wrap" href="#/tab/name/{{host.hostname}}">
          <div class="col">
            <span class="state {{isUp(host)}}"></span></div>
          <div class="col">
            <div class="iconmelon {{isUpImg(host)}}">
              <svg viewBox="0 0 32 32">
                <use xlink:href="#cassette"></use>
              </svg>
            </div>
          </div>
          <div class="col">
            <div class="iconmelon {{deviceConnected(host)}}">
              <svg viewBox="0 0 32 32">
                <use xlink:href="#photo"></use>
              </svg>
            </div>
          </div>
          <div class="col">
            <h2 class="host-name">{{host.hostname}}</h2>
          </div>
          <div class="col">
            <h3 class="host-address">{{host.address}}</h3>
          </div>
          <div class="col">
            <div class="buttons">
              <button class="button" ng-click="reboot(host.address)">Reboot</button>
            </div>
          </div>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
