<ion-view view-title="Dashboard">
  <ion-header-bar align-title="left" class="bar-subheader">
    <div>
      Show disconnected host: <input type="checkbox" ng-model="disconnected.host" ng-change="">
    </div>
    <div>
      Show disconnected camera: <input type="checkbox" ng-model="disconnected.camera" ng-change="">
    </div>
    <div class="buttons">
      <button class="button" ng-click="rebootAll()">Reboot all</button>
    </div>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="list card">
      <ion-list>
        <ion-item class="item-label" type="item-text-wrap" >
          <span class=" ">Status {{connectedHost}}/{{hostNumber}}</span>
          <span class="iconmelon">Cassette</span>
          <span class="iconmelon">Camera {{connectedCamera}}/{{hostNumber}}</span>
          <span class="iconmelon">Streaming {{streaming}}/{{hostNumber}}</span>
          <span class="host-name">Host Name</span>
          <span class="host-address">Host Address</span>
        </ion-item>
        <ion-item ng-class="{'hide-host': disconnected.host, 'hide-camera': disconnected.camera}" class="item-avatar host-{{isUp(host)}} camera-{{deviceConnected(host)}}" ng-repeat="host in hosts" type="item-text-wrap" href="#/tab/name/{{host.hostname}}">
          <div class="col">
            <span class="state {{isUp(host)}}"></span></div>
          <div class="col">
            <div class="iconmelon {{isUpImg(host)}}">
              <svg viewBox="0 0 32 32">
                <use xlink:href="#cassette"></use>
              </svg>
            </div>
          </div>
          <div class="col">
            <div class="iconmelon {{deviceConnected(host)}}">
              <svg viewBox="0 0 32 32">
                <use xlink:href="#photo"></use>
              </svg>
            </div>
          </div>
          <div class="col">
            <div class="iconmelon {{isStreaming(host)}}">
              <svg viewBox="0 0 32 32">
                <use xlink:href="#photo"></use>
              </svg>
            </div>
          </div>
          <div class="col">
            <span class="host-name">{{host.hostname}}</span>
          </div>
          <div class="col">
            <span class="host-address">{{host.address}}</span>
          </div>
          <div class="col">
            <div class="buttons">
              <button class="button" ng-click="reboot(host.address)">Reboot</button>
            </div>
          </div>
          <div class="col">
            <div class="buttons">
              <button class="button" ng-click="openModal(host.hostname)">Rename</button>
            </div>
          </div>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
