<ion-view view-title="Account">
  <ion-content>
    <div class="settings">
      <ion-list>
        <ion-item class="item-toggle">
          Enable Friends
          <label class="toggle">
            <input type="checkbox" ng-model="settings.enableFriends">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </ion-item>
      </ion-list>
    <div class="list card">
      <h3>Unknown Machines: </h3>
      <ion-list>
        <ion-item ng-repeat="machine in machineList" class="item item-button-right" type="item-text-wrap">
          <div class="col">
            <span class="host-name">{{machine.name}}</span>
          </div>
          <div class="col">
            <span class="host-address">{{machine.address}}</span>
          </div>
            <button class="button button-calm" ng-click="openModal(machine.name)">Rename</button>
        </ion-item>
      </ion-list>
    </div>
      <div class="danger-zone">
        <h2>Danger Zone</h2>
        <ion-list>
          <ion-item class="item item-button-right">
            Put dangerous option here
            <button class="button button-assertive" ng-confirm-click="Are you sure to reboot all devices?" confirmed-click="rebootAll()">Reboot all</button>
          </ion-item>
          </ion-list>
        </ion-list>
      </div>
    </div>
  </ion-content>
</ion-view>
